body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    background-color: #e5e5e5;
    color: #5c5d67;
}

.service-widget .widget-categories .category .category .white-text
 {
    font-size: 16 px;
    font-weight: 300; /* Light начертание */
    color: #5c5d67;
}
.header 
{
    font-size: 16 px;
    font-weight: 300; /* Light начертание */
    color: #5c5d67;
}
.category  {
    font-size: 16 px;
    font-weight: 300; /* Light начертание */
    color: #e5e5e5;
    background-color: #677a77;
    border: none;
    padding: 10 px 20 px;
    border-radius: 20 px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Ховер-эффект для кнопок */
.category:hover,
 {
    background-color: #869891;
    color: #FFFFFF;
}
